#wrapper-container {
    width: 300px;
    height: 300px;
}

.wrapper-container {
    width: 100%;
    height: 100%;
    background: rgba(50, 205, 50, 0.36);
}

.dd {
    display: inline-block;
}

.dd div {
    cursor: pointer;
    padding: 5px 10px;
    background: #ccc;
}

.dd.expanded div {
    color: #fff;
    background: #333;
}

.dd.expanded .dd__ul {
    display: block;
}

.dd__ul {
    background: #fff;
}

.dd ul {
    margin: 0;
    padding: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    list-style: none;
    display: none;
}

.dd__ul__li.active{
    background: rgba(204, 5, 0, 0.64);
}
.dd li {
    cursor: pointer;
    padding: 5px 20px;
}

.dd li:hover {
    color: #fff;
    background: #666;
}

.dd li[disabled] {
    color: #ccc;
    cursor: text;
    background: none;
}

.text-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}
